{% extends 'base.html' %}

{% block title %}
Posts
{% endblock %}

{% block body %}
<div class="container mt-5">
<h1>Articles</h1>

    {% if articles|length >0  %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2> {{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b> date: {{ el.date.date() }} </b></p>
            <a href="/posts/{{ el.id}}" class="btn btn-warning">details</a>
        </div>
        {% endfor %}
    {% else %}
    <p>there are no articles yet to add click the button <strong> Create</strong></p>
    {% endif %}
</div>
{% endblock %}
