{% extends 'base.html' %}

{% block title %}
article update
{% endblock %}

{% block body %}
<div class="container">
<h1>new article</h1>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="title"><br>
    <textarea name="intro" id="intro" class="form-control" placeholder="announcement">{{ article.intro }}</textarea><br>
    <textarea name="text" id="text" class="form-control" placeholder="article">{{ article.text }}</textarea><br>
    <input type="submit" class="btn btn-success" value="update"><br>
</form>
</div>

{% endblock %}